.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
  margin-top: 30px;

  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.loginTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.loginInput {
  width: 300px;
  height: 25px;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 10px;
}
.loginBtn {
  width: 150px;
  border-radius: 4px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.loginBtn:hover,
.loginBtn:focus {
  background-color: rgb(17, 189, 55);
  color: #fff;
  transform: scale(1.1);
  transition: all 250ms;
}
